@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
body {
  margin: 0;
  font-family: "poppins";
}

html {
  font-size: 80.7%;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: fixed;
  top: -20px;
  left: 0;
  width: 100%;
  border-block-end: 1px solid rgb(13, 12, 12);
  z-index: 4;
}
.header.active {
  color: black;
  background-color: #f2f2f2;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header .logo img {
  width: 40px;
}

.navbar {
  width: 100%;
}

.navbar-list {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 30px);
  background-color: plum;
  padding: 20px;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.4s ease-in;
}
.navbar-list.change {
  height: 236px;
  visibility: visible;
}
.navbar-list li {
  list-style-type: none;
}
.navbar-list li a {
  text-decoration: none;
  font-size: 2.2em;
  padding: 10px 15px;
  font-weight: 500;
  color: inherit;
  display: block;
  transition: 0.2s;
}
.navbar-list li a:is(:hover, :focus) {
  color: orangered;
}

.nav-toggle-btn {
  display: grid;
  gap: 4px;
  cursor: pointer;
}

.header-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bar {
  width: 10px;
  height: 3px;
  background: black;
  border-radius: 5px;
}

.bar.m {
  width: 20px;
}

.bar.b {
  margin-left: auto;
}

.nav-toggle-btn.change .bar.t {
  transform: translate(1px, 3px) rotate(45deg);
}

.nav-toggle-btn.change .bar.m {
  transform: rotate(-45deg);
}

.nav-toggle-btn.change .bar.b {
  transform: translate(-1px, -3px) rotate(45deg);
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
  background: url("../images/herelg.jpg") center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero h1 {
  max-width: 12ch;
  font-size: 6em;
  display: block;
  font-weight: bold;
  margin-inline: auto;
  position: relative;
  color: black;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1.5s;
}

.hero .sub-head {
  font-size: 1.5em;
  color: white;
  margin-block-end: 25px;
}

.hero span {
  color: red;
  font-size: 1.2rem;
}

.hero-btn {
  display: inline-block;
  padding: 10px 2px;
  color: black;
  background-color: blue;
  border: 2px solid skyblue;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  margin-top: 10px;
  transition: 1s ease;
  transition-property: background-color, color;
}
.hero-btn:hover {
  color: white;
  transition: 1s ease;
  background-color: crimson;
}

.about {
  text-align: center;
}
.about h1 {
  font-size: 53px;
}
.about .container {
  padding: 7% 0;
}
.about .about-content {
  display: flex;
  justify-content: space-between;
}
.about .about-list {
  flex-basis: 20%;
}
.about .about-list2 {
  flex-basis: 45%;
}
.about .about-list3 {
  flex-basis: 25%;
}
.about .team-section {
  display: flex;
}
.about .team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.about .team img {
  padding: 20px;
  margin: 20px;
  width: 240px;
}
.about .team blockquote {
  font-size: 23px;
  text-transform: uppercase;
}
.about .team .text-title {
  font-size: 20px;
  color: crimson;
}
.about .team .text {
  text-align: justify;
  font-size: 15px;
}

/* project section*/
.project {
  text-align: center;
  padding-top: 500px;
}

.project-content h2 {
  text-transform: uppercase;
}
.project-content p {
  font-size: 3em;
}
.project-content .text {
  font-size: 1em;
}

.project-content .ul {
  font-size: 2em;
}
.project-content .ul li {
  list-style-type: none;
}
.project-content .ul a {
  text-decoration: none;
  font-size: 1ex;
}

.contact {
  text-align: center;
}
.contact .container {
  display: flex;
  margin-top: 2em;
  width: 100%;
}

.col-left {
  font-size: 2em;
}
.col-left form {
  display: block;
}

input, textarea {
  width: 100%;
  padding: 1ex;
  margin-bottom: 1em;
  border-radius: 2em;
  border: 1px solid gray;
}

input[type=submit] {
  background-color: rgb(141, 141, 214);
  color: white;
  font-weight: bold;
  border: none;
  font-size: 1.5rem;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}

input[type=submit]:hover {
  background: white;
  color: rgb(16, 174, 236);
  border: 2px solid blue;
}

@media only screen and (min-width: 768px) {
  .nav-toggle-btn {
    display: none;
  }
  .header .navbar {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .header .navbar .navbar-list {
    display: flex;
    height: 236px;
    visibility: visible;
    background: none;
    top: 30px;
    left: 100%;
    gap: 80px;
  }
  .header .navbar a {
    color: black;
    font-size: 1.5em;
    padding: 5px 7px;
  }
  .header .navbar li.pere a {
    font-weight: bold;
  }
}
@media only screen and (max-width: 768px) {
  .about .about-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .about .about-list,
  .about .about-list2,
  .about .about-list3 {
    display: flex;
    flex-direction: column;
  }
  .about .about-subtitle {
    font-size: 16px;
    text-align: justify;
    margin: 10px;
    padding: 20px;
  }
  .about .about-list2 {
    margin: 10px;
    padding: 20px;
  }
  .about .about-list2 img {
    margin-bottom: 10px;
  }
  .about .team-section {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .about .team {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .about .team img {
    padding: 20px;
    margin: 20px;
    width: 240px;
  }
  .about .team blockquote {
    font-size: 23px;
    text-transform: uppercase;
  }
  .about .team .text-title {
    font-size: 20px;
    color: crimson;
  }
}/*# sourceMappingURL=style.css.map */