@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    margin: 0;
    font-family: 'poppins';  
}

html{
    font-size: 80.7%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header{
    position:fixed;
    top: -20px;
    left: 0;
    width: 100%;
    border-block-end: 1px solid rgb(13, 12, 12);
    z-index: 4;

    &.active{
        color: black;
        background-color: #f2f2f2;
    }
}

.header .container{
    display: flex;
    justify-content: space-between;
}

.header{
    .logo img{
        width: 40px;
    }
}


.navbar {
   width: 100%;
  }

  .navbar-list{
    position:absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    background-color: plum;
    padding: 20px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: .4s ease-in;

    &.change{
        height: 236px;
        visibility: visible;
    }

    li{
        list-style-type: none;

        a{
            text-decoration: none;
            font-size: 2.2em;
            padding: 10px 15px;
            font-weight: 500;
            color: inherit;
            display: block;
            transition: .2s;

            &:is(:hover, :focus){
                color: orangered;
            }
        }
    }
  }


  .nav-toggle-btn{
    display:grid;
    gap: 4px;
   cursor: pointer;
  }

  .header-btn{
    display: flex;
    align-items: center;
    gap: 20px;
  }


  .bar{
    width: 10px;
    height: 3px;
    background: black;
    border-radius: 5px;
}


  .bar.m{width: 20px;}
  .bar.b{margin-left: auto;}

  .nav-toggle-btn.change .bar.t{transform: translate(1px, 3px) rotate(45deg); }
  
  .nav-toggle-btn.change .bar.m{ transform: rotate(-45deg); }
  
  .nav-toggle-btn.change .bar.b{ transform: translate(-1px, -3px) rotate(45deg); }
  


//   hero

section{
    padding: 5em 2em;
}

.hero{
    text-align: center;
    background: url('../images/herelg.jpg') center fixed;
    // background: linear-gradient rgba(0,0,0,0), rgba(0,0,0,0), url(../images/herelg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    // background: black;
    // opacity: 0.2;
}

.hero h1{
    max-width: 12ch;
    font-size: 6em;
    display: block;
    font-weight: bold;
    margin-inline: auto;
    position: relative; 
    color: black;
    animation: text_reveal .5s ease forwards; 
    animation-delay: 1.5s;
}

.hero .sub-head{
    font-size: 1.5em;
    color: white;
    margin-block-end: 25px;
}

.hero span{
    color: red;
    font-size: 1.2rem;
}

.hero-btn {
    display: inline-block; 
    padding: 10px 2px; 
    color: black; 
    background-color: blue; 
    border: 2px solid skyblue; 
    font-size: 2rem; 
    text-transform: uppercase; 
    text-decoration: none;
    letter-spacing:2px; 
    margin-top: 10px; 
    transition:  1s ease; 
    transition-property: background-color, color;

    &:hover{
        color: white;
        transition:  1s ease; 
        background-color: crimson;
    }
}


// about section
.about{
    text-align: center;

    h1{
        font-size: 53px;
    }
    .container{
        padding: 7% 0;
    }

    .about-content{
        display: flex;
        justify-content: space-between;
        // flex-direction:row;
    }

    .about-list{
        flex-basis: 20%;
    }

    .about-list2{
        flex-basis:45%;
    }

    .about-list3{
        flex-basis: 25%;
    }


    .team-section{
       display: flex;
    }

    .team{

        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px;

        img{
            padding: 20px;
            margin: 20px;
            width: 240px;
        }

        blockquote{
            font-size: 23px;
            text-transform: uppercase;
        }

        .text-title{
            font-size: 20px;
            color: crimson;
        }

        .text{
            text-align: justify;
            font-size: 15px;
        }
    }








}


/* project section*/

.project{
    text-align: center;
    padding-top: 500px;
}

.project-content{
    

    h2{
        text-transform: uppercase;
    }

    p{
        font-size: 3em;
    }

    .text{
        font-size: 1em;
    }
}

.project-content .ul{
    font-size: 2em;

    li{
        list-style-type: none;
    }

    a{
        text-decoration: none;
        font-size: 1ex;
    }
}

.contact{
    text-align: center;

    .container{
        display: flex;
        margin-top: 2em;
        width: 100%;
    }
}

.col-left{
   font-size: 2em;


    form{
    display: block;
    }
}


    
input, textarea{
    width: 100%;
    padding: 1ex;
    margin-bottom: 1em;
    border-radius: 2em;
    border: 1px solid gray;
    }

input[type="submit"]{
    background-color: rgb(141, 141, 214);
    color: white;
    font-weight: bold;
    border: none;
    font-size: 1.5rem;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}

input[type="submit"]:hover{
    background: white;
    color:rgb(16, 174, 236);
    border: 2px solid blue;
}


@media only screen and (min-width:768px){
    .nav-toggle-btn{
        display:  none;
    }

    .header .navbar{
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        .navbar-list{
            display: flex;
            height: 236px;
            visibility: visible;
            background:none;
            top: 30px;
            left: 100%;
            gap: 80px;

        }

        a{
            color: black;
            font-size: 1.5em;
            padding: 5px 7px;
        }

        li.pere a{
            font-weight: bold;
        }
    }
}

@media only screen and (max-width:768px){

    .about{
        .about-content{
            display: flex;
            justify-content: space-between;
            flex-direction:column;
        }
        
        .about-list,
        .about-list2,
        .about-list3{
            display: flex;
            flex-direction:column;
        }

        .about-subtitle{
            font-size: 16px;
            text-align: justify;
            margin: 10px;
            padding: 20px;
        }

        .about-list2{
            margin: 10px;
            padding: 20px;

            img{
                margin-bottom: 10px;
            }
        }


        // team

        .team-section{
            grid-template-columns: repeat(1,1fr);
            grid-gap: 30px;
        }

        .team{

            grid-template-columns: repeat(1,1fr);
            grid-gap: 30px;

            img{
                padding: 20px;
                margin: 20px;
                width: 240px;
            }
    
            blockquote{
                font-size: 23px;
                text-transform: uppercase;
            }
    
            .text-title{
                font-size: 20px;
                color: crimson;
            }
        }
    
    }  

}



























    // .container{
    //     width: 1080px;
    //     margin: 0 auto;
    // }

    // .hero .container{
    //     display: flex;
    //     justify-content: space-between;
    //     text-align: left;
    // }

    // .hero-content{
    //     align-items: center;
    //     margin: 3em 3em 0 5em;
    // }

    // h1{
    //     font-size: 3em;
    //     width: 90%;

    //     span{
    //         color: blue;
    //     }
    // }

    // .about{
    //     position: relative;
    // }

    // .about-subtitle{
    //     font-size: 2em;
    // }


    // .about{
    //     .team{
    //         display: flex;


    //         .text{
    //             top: 3em;
    //         }
           
    //     }

    //     blockquote{
    //         font-size: 3em;
    //     }
    // }

    
    // .contact-section{ 
    //     position: relative; 

    //     .container{ 
    //         display: flex;
    //     }
    // } 












